@font-face {
	font-family: 'robotomedium';
	src:url('fonts/roboto/roboto-medium-webfont.eot');
	src:url('fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-medium-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotoblack';
	src:url('fonts/roboto/roboto-black-webfont.eot');
	src:url('fonts/roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-black-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-black-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-black-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-black-webfont.svg#robotoblack') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condensedbold';
	src:url('fonts/roboto/robotocondensed-bold-webfont.eot');
	src:url('fonts/roboto/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-bold-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-bold-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-bold-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condensedregular';
	src:url('fonts/roboto/robotocondensed-regular-webfont.eot');
	src:url('fonts/roboto/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-regular-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-regular-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-regular-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condensedbold_italic';
	src:url('fonts/roboto/robotocondensed-bolditalic-webfont.eot');
	src:url('fonts/roboto/robotocondensed-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-bolditalic-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-bolditalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-bolditalic-webfont.svg#roboto_condensedbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condensedlight';
	src:url('fonts/roboto/robotocondensed-light-webfont.eot');
	src:url('fonts/roboto/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-light-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-light-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-light-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-light-webfont.svg#roboto_condensedlight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condensedlight_italic';
	src:url('fonts/roboto/robotocondensed-lightitalic-webfont.eot');
	src:url('fonts/roboto/robotocondensed-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-lightitalic-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-lightitalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-lightitalic-webfont.svg#roboto_condensedlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotobold_italic';
	src:url('fonts/roboto/roboto-bolditalic-webfont.eot');
	src:url('fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotoblack_italic';
	src:url('fonts/roboto/roboto-blackitalic-webfont.eot');
	src:url('fonts/roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-blackitalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-blackitalic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-blackitalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'roboto_condenseditalic';
	src:url('fonts/roboto/robotocondensed-italic-webfont.eot');
	src:url('fonts/roboto/robotocondensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/robotocondensed-italic-webfont.woff2') format('woff2'),
	url('fonts/roboto/robotocondensed-italic-webfont.woff') format('woff'),
	url('fonts/roboto/robotocondensed-italic-webfont.ttf') format('truetype'),
	url('fonts/roboto/robotocondensed-italic-webfont.svg#roboto_condenseditalic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotoitalic';
	src:url('fonts/roboto/roboto-italic-webfont.eot');
	src:url('fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-italic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotobold';
	src:url('fonts/roboto/roboto-bold-webfont.eot');
	src:url('fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-bold-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotoregular';
	src:url('fonts/roboto/roboto-regular-webfont.eot');
	src:url('fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-regular-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotothin';
	src:url('fonts/roboto/roboto-thin-webfont.eot');
	src:url('fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-thin-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotomedium_italic';
	src:url('fonts/roboto/roboto-mediumitalic-webfont.eot');
	src:url('fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotolight_italic';
	src:url('fonts/roboto/roboto-lightitalic-webfont.eot');
	src:url('fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotothin_italic';
	src:url('fonts/roboto/roboto-thinitalic-webfont.eot');
	src:url('fonts/roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-thinitalic-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-thinitalic-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-thinitalic-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'robotolight';
	src:url('fonts/roboto/roboto-light-webfont.eot');
	src:url('fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
	url('fonts/roboto/roboto-light-webfont.woff') format('woff'),
	url('fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
	url('fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'ralewaythin';
	src:url('fonts/raleway/raleway_thin-webfont-webfont.eot');
	src:url('fonts/raleway/raleway_thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/raleway/raleway_thin-webfont-webfont.woff2') format('woff2'),
	url('fonts/raleway/raleway_thin-webfont-webfont.woff') format('woff'),
	url('fonts/raleway/raleway_thin-webfont-webfont.ttf') format('truetype'),
	url('fonts/raleway/raleway_thin-webfont-webfont.svg#ralewaythin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'quicksandlight';
	src:url('fonts/quicksand/quicksand-light-webfont.eot');
	src:url('fonts/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-light-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-light-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-light-webfont.svg#quicksandlight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksandbold';
	src:url('fonts/quicksand/quicksand-bold-webfont.eot');
	src:url('fonts/quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-bold-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-bold-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-bold-webfont.svg#quicksandbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksanditalic';
	src:url('fonts/quicksand/quicksand-italic-webfont.eot');
	src:url('fonts/quicksand/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-italic-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-italic-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-italic-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksandlight_italic';
	src:url('fonts/quicksand/quicksand-lightitalic-webfont.eot');
	src:url('fonts/quicksand/quicksand-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-lightitalic-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-lightitalic-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-lightitalic-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-lightitalic-webfont.svg#quicksandlight_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksandbold_italic';
	src:url('fonts/quicksand/quicksand-bolditalic-webfont.eot');
	src:url('fonts/quicksand/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-bolditalic-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-bolditalic-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-bolditalic-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksanddash';
	src:url('fonts/quicksand/quicksand_dash-webfont.eot');
	src:url('fonts/quicksand/quicksand_dash-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand_dash-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand_dash-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand_dash-webfont.svg#quicksanddash') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'quicksandregular';
	src:url('fonts/quicksand/quicksand-regular-webfont.eot');
	src:url('fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
	url('fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
	url('fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
	url('fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'otari';
	src: 	url('fonts/otari/Otari-Bold-Limited.eot?#iefix') format('embedded-opentype'),	
	url('fonts/otari/Otari-Bold-Limited.otf') format('opentype'),
	url('fonts/otari/Otari-Bold-Limited.woff') format('woff'), 
	url('fonts/otari/Otari-Bold-Limited.ttf') format('truetype'), 
	url('fonts/otari/Otari-Bold-Limited.svg#Otari-Bold-Limited') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'aaargh';
	src: 	url('fonts/aaargh/AaarghNormal.eot?#iefix') format('embedded-opentype'),	
	url('fonts/aaargh/AaarghNormal.woff') format('woff'), 
	url('fonts/aaargh/AaarghNormal.ttf') format('truetype'), 
	url('fonts/aaargh/AaarghNormal.svg#AaarghNormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'alegreya';
	src: url('fonts/alegreya/AlegreyaSansSC-Regular.eot?#iefix') format('embedded-opentype'),	
	url('fonts/alegreya/AlegreyaSansSC-Regular.otf') format('opentype'),
	url('fonts/alegreya/AlegreyaSansSC-Regular.woff') format('woff'), 
	url('fonts/alegreya/AlegreyaSansSC-Regular.ttf') format('truetype'), 
	url('fonts/alegreya/AlegreyaSansSC-Regular.svg#AlegreyaSansSC-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'armwrestlerbold';
	src: url('fonts/armwrestlerbold/ArmWrestler-Bold.eot?#iefix') format('embedded-opentype'),	
	url('fonts/armwrestlerbold/ArmWrestler-Bold.woff') format('woff'), 
	url('fonts/armwrestlerbold/ArmWrestler-Bold.ttf') format('truetype'), 
	url('fonts/armwrestlerbold/ArmWrestler-Bold.svg#ArmWrestler-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'cooperhewittmed';
	src: url('fonts//CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),	
	url('fonts//CooperHewitt-Medium.otf') format('opentype'),
	url('fonts//CooperHewitt-Medium.woff') format('woff'), 
	url('fonts//CooperHewitt-Medium.ttf') format('truetype'), 
	url('fonts//CooperHewitt-Medium.svg#CooperHewitt-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'jockeyoneregular';
	src: url('fonts//JockeyOne-Regular.eot?#iefix') format('embedded-opentype'),	
	url('fonts//JockeyOne-Regular.otf') format('opentype'),
	url('fonts//JockeyOne-Regular.woff') format('woff'), 
	url('fonts//JockeyOne-Regular.ttf') format('truetype'), 
	url('fonts//JockeyOne-Regular.svg#JockeyOne-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'neue';
	src: url('fonts/neue/FengardoNeue.eot?#iefix') format('embedded-opentype'),	
	url('fonts/neue/FengardoNeue.otf') format('opentype'),
	url('fonts/neue/FengardoNeue.woff') format('woff'), 
	url('fonts/neue/FengardoNeue.ttf') format('truetype'), 
	url('fonts/neue/FengardoNeue.svg#FengardoNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'neueblack';
	src: url('fonts/neueblack/FengardoNeue-Black.eot?#iefix') format('embedded-opentype'),	
	url('fonts/neueblack/FengardoNeue-Black.otf') format('opentype'),
	url('fonts/neueblack/FengardoNeue-Black.woff') format('woff'), 
	url('fonts/neueblack/FengardoNeue-Black.ttf') format('truetype'), 
	url('fonts/neueblack/FengardoNeue-Black.svg#FengardoNeue-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'otari';
	src: url('fonts/otari/Otari-Bold-Limited.eot?#iefix') format('embedded-opentype'),	
	url('fonts/otari/Otari-Bold-Limited.otf') format('opentype'),	
	url('fonts/otari/Otari-Bold-Limited.woff') format('woff'),	
	url('fonts/otari/Otari-Bold-Limited.ttf') format('truetype'), 	
	url('fonts/otari/Otari-Bold-Limited.svg#Otari-Bold-Limited') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'roman';
	src: url('fonts/roman/Distractor-Roman.eot?#iefix') format('embedded-opentype'),	
	url('fonts/roman/Distractor-Roman.woff') format('woff'), 
	url('fonts/roman/Distractor-Roman.ttf') format('truetype'), 
	url('fonts/roman/Distractor-Roman.svg#Distractor-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kliniclight';
	src: url('fonts/kliniclight/KlinicSlab-LightItalic.eot?#iefix') format('embedded-opentype'),	
	url('fonts/kliniclight/KlinicSlab-LightItalic.otf') format('opentype'),
	url('fonts/kliniclight/KlinicSlab-LightItalic.woff') format('woff'), 
	url('fonts/kliniclight/KlinicSlab-LightItalic.ttf') format('truetype'), 
	url('fonts/kliniclight/KlinicSlab-LightItalic.svg#KlinicSlab-LightItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'klinicbookitalic';
	src: url('fonts/klinicbookitalic/KlinicSlab-BookItalic.eot?#iefix') format('embedded-opentype'),	
	url('fonts/klinicbookitalic/KlinicSlab-BookItalic.otf') format('opentype'),
	url('fonts/klinicbookitalic/KlinicSlab-BookItalic.woff') format('woff'), 
	url('fonts/klinicbookitalic/KlinicSlab-BookItalic.ttf') format('truetype'), 
	url('fonts/klinicbookitalic/KlinicSlab-BookItalic.svg#KlinicSlab-BookItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'klinicbook';
	src: url('fonts/klinicbook/KlinicSlab-Book.eot?#iefix') format('embedded-opentype'),	
	url('fonts/klinicbook/KlinicSlab-Book.otf') format('opentype'),
	url('fonts/klinicbook/KlinicSlab-Book.woff') format('woff'), 
	url('fonts/klinicbook/KlinicSlab-Book.ttf') format('truetype'), 
	url('fonts/klinicbook/KlinicSlab-Book.svg#KlinicSlab-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'kliniclight';
	src: url('fonts/kliniclight/KlinicSlab-Light.eot?#iefix') format('embedded-opentype'),	
	url('fonts/kliniclight/KlinicSlab-Light.otf') format('opentype'),
	url('fonts/kliniclight/KlinicSlab-Light.woff') format('woff'), 
	url('fonts/kliniclight/KlinicSlab-Light.ttf') format('truetype'), 
	url('fonts/kliniclight/KlinicSlab-Light.svg#KlinicSlab-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'klinicmedium';
	src: url('fonts/klinicmedium/KlinicSlab-Medium.eot?#iefix') format('embedded-opentype'),	
	url('fonts/klinicmedium/KlinicSlab-Medium.otf') format('opentype'),
	url('fonts/klinicmedium/KlinicSlab-Medium.woff') format('woff'), 
	url('fonts/klinicmedium/KlinicSlab-Medium.ttf') format('truetype'), 
	url('fonts/klinicmedium/KlinicSlab-Medium.svg#KlinicSlab-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'klinicmediumitalic';
	src: url('fonts/klinicmediumitalic/KlinicSlab-MediumItalic.eot?#iefix') format('embedded-opentype'),	
	url('fonts/klinicmediumitalic/KlinicSlab-MediumItalic.otf') format('opentype'),
	url('fonts/klinicmediumitalic/KlinicSlab-MediumItalic.woff') format('woff'), 
	url('fonts/klinicmediumitalic/KlinicSlab-MediumItalic.ttf') format('truetype'), 
	url('fonts/klinicmediumitalic/KlinicSlab-MediumItalic.svg#KlinicSlab-MediumItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'klinicbolditalic';
	src: url('fonts/klinicbolditalic/KlinicSlab-BoldItalic.eot?#iefix') format('embedded-opentype'),	
	url('fonts/klinicbolditalic/KlinicSlab-BoldItalic.otf') format('opentype'),
	url('fonts/klinicbolditalic/KlinicSlab-BoldItalic.woff') format('woff'), 
	url('fonts/klinicbolditalic/KlinicSlab-BoldItalic.ttf') format('truetype'), 
	url('fonts/klinicbolditalic/KlinicSlab-BoldItalic.svg#KlinicSlab-BoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
}


