
@font-face {
  font-family: 'Distractor-Roman';
  src: url('Distractor-Roman.eot?#iefix') format('embedded-opentype'),  url('Distractor-Roman.woff') format('woff'), url('Distractor-Roman.ttf')  format('truetype'), url('Distractor-Roman.svg#Distractor-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
